@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato", sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: Work Sans SemiBold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.75px;
    text-align: left;
}
h6{
font-family: Work Sans SemiBold;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.25px;
text-align: center;

}
p{
font-family: Work Sans SemiBold;
font-size: 16px;
line-height: 20px;
text-align: center;
/* color:#0000008F; */
}
.btn{
    font-family: Work Sans;
    padding: 15px 50px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}
img{
    max-width: 100%;
}
.full-width{
    width: 100%;
}





/* ------------------nav-styles------------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    box-shadow: 0px 1px 50px 2px #b7b6b6;
}
nav li{
    list-style-type: none;
}
.logo-img{
    margin-right: 15px;
}
.logo-number{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #0000008F;
}
.nav-sec02-ul, .nav-sec03-ul{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.nav-sec02-ul a{
    padding: 0 10px;
    color: black;
}
.sec-2-3{
    width: 60%;
display: flex;
justify-content: space-between;
}
.extra-margin{
    margin-left: 2px;
}
.btn-nav-normal{
    padding: 10px 25px;
    color: white;
    margin: 0 5px;
    color:#0043CB;
    ;
}
.btn-nav{
    padding: 10px 25px;
    margin: 0 5px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.menu-btn i{
    font-size: 22px;
}
.div-menu-btn .menu-btn i, input{
    display: none;
    color: black;
}
.services{
    display: none;
}
#check-services:checked ~ .services{
    display: none;
}
/* ---------------responsive nav-------------- */
.responsive-nav{
    background-color: #fff;
    display: none;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 75px;
    transition: all .2s ease;
}
#click-menu-btn:checked ~ .responsive-nav{
    left: 0;
}
#click-menu-btn:checked ~ .menu-btn i::before{
    content: "\f00d";
}
.responsive-nav ul li{
    padding: 1.5em 1em;
    margin: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.500);
}
.service{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-style{
    background-color: #0000FF;
    border-radius: 8px;
}
.btn-style a{
    color: white;
}
.responsive-nav ul li a{
    font-weight: 500;
}

/* ------------------------hero-section------------------------- */
.hero-btn-01{
    border: none;
    background-color: #0000FF;
    line-height: 16px;
    letter-spacing: 1.25px;
    color: white;
    width: 100%;
}
.hero-btn-02{
    border: none;
    background-color: #fff;
    line-height: 16px;
    letter-spacing: 1.25px;
    color: #0000FF;
}
.container-hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 120px;
    background-image: url(./img/gems\ bg.png);
}
.hero-section-content{
    justify-content: start;
    align-items: start;
    margin: 0 30px;
}
.hero-section-img{
    margin: 0 30px;
}
.hero-section-content h1{
    margin-bottom: 120px;
}
.hero-section-content-btn{
    width: 100%;
}





/* -----------------------------section-03--------------------------- */
.section-03{
    background-color: #f3f8ff;
    padding: 80px 300px;
}
.container-section-03{
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}
.section-03-div02-circle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 60px;
}
.section-03-div02 > p,
.section-03-div03 > p,
.section-03-div04 > p,
.section-03-div05 > p,
.section-03-div06 > p,
.section-03-div07 > p{
    color:#0000008F;
    padding: 25px 0;
    font-family: Work Sans SemiBold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.circle{
    width: 80px;
    height: 80px;
    border: 2px solid #0000FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0000FF;
}
.circle p{
font-family: Work Sans SemiBold;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.25px;
text-align: center;
}
.circle-01{
    background-color: #0000FF;
    color: white;
}
.optipns-btn{
    border: 2px solid #0000FF;
    width: 50%;
    border-radius: 10px;
}
.optipns-btn button{
    border: none;
    width: 100%;
    border-bottom: 2px solid #0000FF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border-radius: 0;
}
.border-0{
    border: none !important;
}
.btn-active{
    color: white;
    background-color: #0000FF;
}
.option-btn-01{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.option-btn-04{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.section-03-div04 input{
    display: block !important;
    border: 1px solid #b7b6b6;
    border-radius: 8px;
    width: 50%;
    height: 40px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #0000008F;
    padding: 20px;
}
.section-03-div05 > h1, .section-03-div06 > h1{
font-family: Work Sans SemiBold;
font-size: 20px;
line-height: 28px;
letter-spacing: -0.25px;
text-align: center;
}
.section-03-btn{
    background-color: #0000FF;
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 40px;
    color: white;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    margin: 30px 0;
}





/* -----------------------------section-04--------------------------- */
.section-04{
    width: 100%;
    padding: 50px 120px;
}

.circle-number{
    width: 25px;
    height: 25px;
    background-color: #fff;
    margin: 20px 0;
}
.circle-number{
    width: 80px;
    height: 80px;
    background-color: #6A9AFF;
    border: none;
    border-radius: 50%;
}
.circle-number p{
    color: white;
    font-size: 40px;
}
.section-04-content-writting{
    width: 50%;
}
.section-04-content-img{
    width: 50%;
}
.section-04-content-writting h1{
    font-family: Work Sans SemiBold;
    font-size: 48px;
    line-height: 50px;
    margin: 20px 0;
}
.section-04-content-writting h3{
font-family: Work Sans SemiBold;
font-size: 34px;
line-height: 48px;
margin-bottom: 20px;
}
.circle-number > ul > li{
    list-style-type: circle;
    list-style-image: url(./img/checked.png);
    list-style-position: inside;
}
.section-04-content-writting li{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px;
    
}
.section-04-content-writting button{
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 20px 0;
}
hiddem-img{
    display: none;
}
.hidden-img{
    display: none;
}
.section-04-content-writting{
    align-items: baseline;
}


/* --------------------------------difference-section------------------------------ */
.container-difference{
    width: 100%;
    padding: 30px 120px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F8FF;
    gap: 40px;
}
.difference-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.difference-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    /* padding-bottom: 30px; */
}
.crd-img{
    width: 60px;
    height: 72px;
    /* background-color: #0000FF; */
    background-image: url(./img/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.difference-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.difference-card h4{
    font-family: Work Sans SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: center;
    margin: 20px;
}


/* --------------------------------contact-section------------------------------ */
.container-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 60px 120px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.contact-content h3{
    margin: 20px 0;
    text-align: start;
    font-family: Work Sans SemiBold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.75px;
    text-align: left;
}
.contact-content p{
    text-align: start;
    margin: 20px 0;
}
.btn-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 10px;
}
.btn-contact-01, .btn-contact-02, .btn-contact-03{
    width: 70%;
    padding: 10px 0;
    border: 1px solid #0043CB;
    color: #0043CB;
    border-radius: 5px;
}

/* --------------------------------funds-section------------------------------ */
.container-funds{
    padding: 40px 120px;
    background-color: #F3F8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-funds h1{
    padding: 25px 0 0;
}
.container-funds p{
    padding: 25px 0;
}
.funds-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}
.fund-btn-1{
    width: 50%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #0043CB;
    color: white;
    border: none;
}
.fund-btn-2{
    width: 50%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #F3F8FF;
    color: #0043CB;
}

/* --------------------------------details-section------------------------------ */
.container-details{
    padding: 40px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.container-details p{
    text-align: start;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.5);
}

/* --------------------------------last-section------------------------------ */
.last-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 120px;
    gap: 40px;
    background-color: #F3F8FF;
}
.last-container img{
    padding: 20px 0;
}
.last-container p{
    text-align: start;
}
.last-container-02, .last-container-03{
    gap: 20px;
    h4 {
    font-family: Work Sans SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: left; 
    padding: 15px 0;
    }
    li{
        list-style-type: none;
        padding: 5px 0;
    }
}
.last-container-04 h4{
    font-family: Work Sans SemiBold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.25px;
    text-align: left; 
    padding-bottom: 10px;
    
}
.last-container-04{
    gap: 20px;
}
.last-container-04 p{
    padding: 20px 0;
    
}
.last-btn-1{
    width: 80%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #0043CB;
    margin-bottom: 10px;
}
.last-btn-2{
    width: 80%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #0043CB;
    color: white;
    border: none;
}
.last-btns{
    gap: 10px;
}


/* --------------------------------footer------------------------------ */
.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 120px 40px;
    font-size: 40px;
    background-color: #F3F8FF;
    gap: 20px;
    color: #0000ff84;
}